{{#each errors}}
<div class="alert alert-danger mt-2">{{text}}</div>
{{else}}

{{/each}}

<div class="container">
    <div class="container-content-2">
        <h1 class=" title text-center">Add post</h1>
        <div class="mt-4">
            <form action="/admin/posts/new" method="post" class="">
                <div class="">
                    <label for="title" class="fw-bold here">Title:</label>
                    <input type="text" class="input-control" placeholder="Enter the title here" name="title"
                        id="title"><br>
                    <label for="slug" class="here fw-bold">Slug:</label>
                    <input type="text" class="input-control" placeholder="Enter the slug here" name="slug"
                        id="slug"><br>
                    <label for="description" class="here fw-bold">Description:</label>
                    <input type="text" class="input-control" placeholder="Enter the description here"
                        name="description" id="description"><br>
                    <label for="content" class="here fw-bold">Content:</label>
                    <textarea name="content" class="input-control" placeholder="Enter the content here"></textarea><br>
                    <label for="categories" class="here fw-bold">Category:</label>
                    <select name="category" class="input-control">
                        {{#each categories}}
                        <option value="{{_id}}">{{title}}</option>
                        {{else}}
                        <option value="0">Nenhuma categoria registrada</option>
                        {{/each}}
                    </select><br>
                </div><br>

                <button class="btn-init text-center mb-3">Add</button>
        </div>
        </form>
    </div>
</div>