<div class="text-end">
    <a href="/admin/categories/add"><button class="btn-init">New category + </button></a>
    <a href="/admin/posts"><button class="btn-init">Show posts </button></a>
</div>

{{#each categories}}
<div class="container">
    <div class="container-content">
        <h2>{{title}}</h2><br>

        <strong class="here">Slug: </strong><small>{{slug}}</small><br>
        <strong class="here">Creation date: </strong><small>{{date}}</small><br>

        <div class="mt-4 d-flex">
            <a href="/admin/categories/edit/{{_id}}" class=""><button class="btn-init"
                    name="title">Edit</button></a>
            <form action="/admin/categories/delete" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button class="btn-delete" type="submit">Delete</button>
            </form>
        </div>

    </div>
</div>
{{else}}
<h4 class="fw-bold container text-center here">Nenhuma categoria registrada.</h4>
{{/each}}