<div class="text-end marging-right-btn">
    <a href="/admin/posts"><button class="btn btn-background-gradient">Show posts </button></a>
    <a href="/admin/categories/add"><button class="btn btn-background-gradient">Add new category + </button></a>
    
</div>

{{#each categories}}
<div class="card col-8 mx-auto mt-4 yellow-border">
    <div class="card-body">
        <h4 class="fw-bold">Title: {{title}}</h1>
            <hr>
            <strong>Slug: </strong><small>{{slug}}</small><br>
            <strong>Creation date: </strong><small>{{date}}</small><br>
            <hr>
            <div class="mt-2 d-flex align-items-center">
                <a href="/admin/categories/edit/{{_id}}" class="col-separe-1"><button class="btn btn-background-gradient "
                        name="title">Edit</button></a>
                <form action="/admin/categories/delete" method="post">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-delete-btn" type="submit">Delete</button>
                </form>
            </div>
    </div>
</div>
{{else}}
<h4 class="mt-3">Nenhuma categoria registrada.</h4>
{{/each}}
