{{#each text}}
<div class="alert alert-danger mt-2">{{text}}</div>

{{else}}

{{/each}}

<div class="container">
    <div class="container-content-2">
        <h1 class="text-center title">Edit post</h1>
        <div class="mt-4">
            <form action="/admin/posts/edit" class="" method="POST">
                <div class="">
                    <input type="hidden" name="id" value="{{_id}}">
                    <label class="here fw-bold">Title:</label>
                    <input type="text" name="title" id="title" placeholder="New post title" value="{{title}}"
                        class="input-control"><br>
                    <label class="here fw-bold">Slug: </label>
                    <input type="text" name="slug" id="slug" placeholder="New post slug" value="{{slug}}"
                        class="input-control"><br>
                    <label class="here fw-bold">Description: </label>
                    <input type="text" name="description" placeholder="New post description" value="{{description}}"
                        class="input-control"><br>
                    <label class="here fw-bold">Content: </label>
                    <textarea name="content" class="input-control"
                        placeholder="Enter the new content here">{{content}}</textarea><br>
                </div><br>
                <button class="btn-init mb-3">Edit</button>
        </div>
        </form>
    </div>
</div>