{{#each text}}
<div class="alert alert-danger mt-2">{{text}}</div>

{{else}}

{{/each}}

<div class="container">
    <div class="container-content-2 ">
        <h1 class="text-center title">Edit category</h2>
        <div class="mt-4">
            <form action="/admin/categories/edit" class="" method="POST">
                <div class="">
                    <input type="hidden" name="id" value="{{_id}}">
                    <label class="here fw-bold">Title:</label>
                    <input type="text" name="title" id="title" placeholder="New category title" value="{{title}}"
                        class="input-control "><br>
                    <label class="here fw-bold">Slug: </label>
                    <input type="text" name="slug" id="slug" placeholder="New category slug" value="{{slug}}"
                        class="input-control "><br>
                </div><br>
                <button class="btn-init mb-3">Edit</button>
        </div>
        </form>
    </div>
</div>