{{#each text}}
<div class="alert alert-danger mt-2">{{text}}</div>

{{else}}

{{/each}}

<div class="card container mt-3 col-6 bg-light purple-border">
    <div class="card-body mt-2">
        <h2 class="fw-bold container text-center here">Edit category</h2>
        <div class="container col-8">
            <form action="/admin/categories/edit" class="form-width" method="POST">
                <div class="row-cols-1">
                    <input type="hidden" name="id" value="{{_id}}">
                    <label class="here fw-bold">Title:</label>
                    <input type="text" name="title" id="title" placeholder="New category title" value="{{title}}"
                        class="form-control border-input-text"><br>
                    <label class="here fw-bold">Slug: </label>
                    <input type="text" name="slug" id="slug" placeholder="New category slug" value="{{slug}}"
                        class="form-control border-input-text"><br>
                </div><br>
                <button class="btn-primary container text-center mb-3">Edit</button>
        </div>
        </form>
    </div>
</div>