
<div class="text-end">
    <a href="/admin/posts/add"><button class="btn-init">New post + </button></a>
    <a href="/admin/categories"><button class="btn-init">Show categories </button></a>
</div>

{{#each posts}}

<div class="container">
    <div class="container-content">
        <h2 class="title text-center">{{title}}</h2><br>

        <strong class="here">Slug: </strong><small>{{slug}}</small><br>
        <strong class="here">Description: </strong><small>{{description}}</small><br>
        <strong class="here">Content: </strong><small>{{content}}</small><br>
        <strong class="here">Category: </strong><small>{{category.title}}</small><br>
        <strong class="here">Creation date: </strong><small>{{date}}</small><br>

        <div class="mt-4 d-flex">
            <a href="/admin/posts/edit/{{_id}}" class=""><button class="btn-init "
                    name="title">Edit</button></a>
            <form action="/admin/posts/delete" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button class="btn-delete" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
{{else}}

{{/each}}