{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}

<div class="card bg-light mt-4 container purple-border">
  <div class="card-body">

    <h1 class="text-center fw-bold fst-italic here">Welcome to the NodeNotes!</h1>
    <hr>
    <p class="text-justify text-indent">My project is a blog developed using Node.js, a robust and efficient platform
      for web applications. The blog allows users to explore a variety of article categories and interact through
      comments, providing a dynamic and interactive experience for readers.</p>
    <p class="text-justify text-indent">To enhance the functionality and user experience, I utilized several key
      libraries and
      tools. The Express framework was used to build the core server-side functionality, allowing for efficient
      routing
      and middleware integration. Body-parser was employed to handle incoming request bodies, making it easier to
      parse
      and manipulate data sent by users. For the frontend, Handlebars was chosen as the templating engine, enabling
      dynamic content rendering and seamless user interactions.</p>
    <p class="text-justify text-indent"> blog's data is managed using MongoDB, a NoSQL database that offers
      flexibility and
      scalability. This choice ensures that the application can handle a growing amount of data efficiently. Overall,
      the combination of these technologies has resulted in a powerful and user-friendly blog platform, showcasing the
      capabilities of modern web development with Node.js.</p>
    <hr>
    <small class="fw-bold fst-italic">Don't have an account yet? Create one by clicking <a href="/users/register"
        class="here">HERE</a></small>
  </div>
</div>

<hr class="hr-purple">

<div class=" container mt-3 col-9">
  <div class="container text-center">
    <h1 class="here fst-italic">Recent posts</h1>
  </div>
</div>


{{#each posts}}

<div class="card container mt-3 col-8 purple-border">
  <div class="card-body mt-2">
    <h3>{{title}}</h3>
    <p>- {{description}}</p>
    <a href="/posts/{{slug}}" class="btn-primary mt-2">Read more</a>
    <hr>
    <strong>Category: </strong><small>{{category.title}}</small><br>
    <strong>Post date: </strong><small>{{date}}</small>
  </div>
</div>

{{else}}
{{/each}}